---

---

<main>
  <h1>Desarrollador de Sistemas</h1>
  <section class="desarrollo-web">
    <div class="frontend">
      <h2>Frontend</h2>
      <p>
        Aprendí desarrollo en Frameworks como Angular y React. Adicinalmente,
        tengo conocimientos solidos en herramientas de maquetado como figma y
        también programas de edición de video y edición de imágenes.
      </p>
    </div>
    <div>
        imagen
    </div>
    <div>imagen</div>
    <div class="backend">
      <h2>Backend</h2>
      <p>
        Aprendí desarrollo backend, el manejo de frameworks como Express.js,
        SpringBoot Java y Django Python. Manejo herramientas de bases de datos,
        especificamente PostgreSQL y MongoDB. En servicios Cloud Firebase.
      </p>
    </div>
  </section>

  <section class="desarrollo-otros">
    <div class="mobile">
      <h2>Desarrollo Móvil</h2>
      <p>Aprendí a utilizar Flutter para el desarrollo de aplicaciones móviles.</p>
    </div>
    <div>imagen</div>
    <div>imagen</div>
    <div class="videogamess">
      <h2>Videojuegos</h2>
      <p>Tengo conocimientos en herramientas para manejar motores de videojuegos como Godot y Unity.</p>
    </div>
  </section>
</main>

<style>
    main{
        display: flex;
        flex-direction: column;
        background-color: beige;
        align-items: center;
        padding: 30px 0px;
        margin: auto;

    }
    h1{
        display: block;
        
        padding: 5px 5px;
    }
    h2{
        text-align: start;
        padding: 5px 15px;
    }
    p{
        text-align: start;
        padding: 5px 15px;
    }
    .desarrollo-web{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: whitesmoke;
        gap: 30px;
        border-color: black;
        border-width: 1px;
        border: solid;
    }
    .desarrollo-otros{
        display: grid;
        grid-template-columns: 1fr 1fr;
        background-color: yellowgreen;
        gap: 30px;
        border-color: black;
        border-width: 1px;
        border: solid;
    }
</style>