---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import HeadPortfolio from '../components/HeadPortfolio.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
import { ClientRouter } from 'astro:transitions';
import Landing from './main/landing.astro';
---

<!doctype html>
<html lang="es">
	<head>
		<ClientRouter />
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body transition:animate="fade">
		
		<Header />
		<HeadPortfolio></HeadPortfolio>
		<Landing />
		
		<Footer />
	</body>
</html>
