---
import ProyectoCard from "../../components/ProyectoCard.astro";
import {IMG_PROYECTO_TEMPLATE} from "../../links/list-links"
---

<section class="grid-proyectos">
  <ProyectoCard
    title="Portfolio Interactivo"
    description="Landing page con animaciones y diseño responsivo usando HTML, CSS y JavaScript puro."
    imageSrc={ IMG_PROYECTO_TEMPLATE }
    technologies={["html", "css", "js"]}
  />
  <ProyectoCard
    title="Sistema Academico"
    description="Landing page con animaciones y diseño responsivo usando HTML, CSS y JavaScript puro."
    imageSrc={ IMG_PROYECTO_TEMPLATE }
    technologies={["html", "css", "js"]}
  />
  <ProyectoCard
    title="Sistema de Venta"
    description="Landing page con animaciones y diseño responsivo usando HTML, CSS y JavaScript puro."
    imageSrc={ IMG_PROYECTO_TEMPLATE }
    technologies={["html", "css", "js"]}
  />
  <ProyectoCard
    title="Multimedia Sonido"
    description="Landing page con animaciones y diseño responsivo usando HTML, CSS y JavaScript puro."
    imageSrc={ IMG_PROYECTO_TEMPLATE }
    technologies={["html", "css", "js"]}
  />
  <ProyectoCard
    title="Videojuego en Godot"
    description="Landing page con animaciones y diseño responsivo usando HTML, CSS y JavaScript puro."
    imageSrc={ IMG_PROYECTO_TEMPLATE }
    technologies={["html", "css", "js"]}
  />
  <ProyectoCard
    title="Portfolio Interactivo"
    description="Landing page con animaciones y diseño responsivo usando HTML, CSS y JavaScript puro."
    imageSrc={ IMG_PROYECTO_TEMPLATE }
    technologies={["html", "css", "js"]}
  />
  <ProyectoCard
    title="Sistema Academico"
    description="Landing page con animaciones y diseño responsivo usando HTML, CSS y JavaScript puro."
    imageSrc={ IMG_PROYECTO_TEMPLATE }
    technologies={["html", "css", "js"]}
  />
  <ProyectoCard
    title="Sistema de Venta"
    description="Landing page con animaciones y diseño responsivo usando HTML, CSS y JavaScript puro."
    imageSrc={ IMG_PROYECTO_TEMPLATE }
    technologies={["html", "css", "js"]}
  />
  <ProyectoCard
    title="Multimedia Sonido"
    description="Landing page con animaciones y diseño responsivo usando HTML, CSS y JavaScript puro."
    imageSrc={ IMG_PROYECTO_TEMPLATE }
    technologies={["html", "css", "js"]}
  />
  <ProyectoCard
    title="Videojuego en Godot"
    description="Landing page con animaciones y diseño responsivo usando HTML, CSS y JavaScript puro."
    imageSrc={ IMG_PROYECTO_TEMPLATE }
    technologies={["html", "css", "js"]}
  />
</section>
<style>
  .grid-proyectos {
    padding: 50px 50px;
    display: grid;
    margin-left: 350px;
    margin-right: 350px;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px;
  }
</style>
